body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
} 

.superinfo-bg {
    background-color: #3c8dbc;
    color: white;
}

.superinfo a {
    color: white;
}

.superinfo {
    display: flex;
    max-width: 950px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}